<!-- <div class="container bg-primary text-light mt-5">
    <a routerLink="/logout"><button class="btn btn-secondary">logout</button></a>
    <p> user logged in is </p>
    <h1 class="display-5"> {{email}} </h1>
</div> -->

<app-container></app-container>

<div class="container-fluid">
    {{ clock | async | date:'medium'}} <br>
    <div class="row">
        <div class="col-md-4 mb-2 mt-2 border">
            <p>Daily Assigned task</p>
            <!-- {{dayName}} -->
            <div *ngFor="let tasks of dailytask | orderBy: key: reverse | paginate : {itemsPerPage:7, currentPage:p};"
                class="container mt-3 px-3 mb-3 justify-content-center">
                <div class="card" *ngIf="dayName===tasks.title">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <h6> <b>{{tasks.title}}</b></h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Today's cleaning will be done by </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><b>{{tasks.body}}</b> </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a routerLink=""><button type="button" class="btn btn-primary mb-3">View all data</button></a>
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        

            <!--  -->
        
        
        </div>
        <div class="col-md-4 mb-2 mt-2  border">
            <div class="container mt-3 px-3 mb-3 border">
                <p>Debts</p>
                <div *ngFor="let expense of dailyexpense | orderBy: key: reverse | paginate : {itemsPerPage:3, currentPage:p};"
                    class="container mt-3 px-3 mb-3 justify-content-center">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">sr.</th>
                                <th scope="col">Body</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>{{expense.body}}</td>
                                <td>{{expense.quantity}}</td>
                                <td>{{expense.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a routerLink=""><button type="button" class="btn btn-primary">View all data</button></a>
        </div>

        <div class="col-md-4 border">
           
                <app-chat></app-chat>
           
            <!-- <a routerLink=""><button type="button" class="btn btn-primary">View all data</button></a> -->
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-4 border">
            <p>Rent History</p>
                <div *ngFor="let rent of monthlyrent | orderBy: key: reverse | paginate : {itemsPerPage:3, currentPage:p};"
                    class="container mt-3 px-3 mb-3 justify-content-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">sr.</th>
                                <th scope="col">Paid By</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td> {{rent.sentby}}</td>
                                <td> {{rent.amount}}</td>
                                <td> {{rent.month}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->